annotated-types
anyio
Authlib
certifi
fastapi
Flask
Flask-Cors
Flask-SocketIO
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-genai==1.9.0
googleapis-common-protos
gunicorn
httpx>=0.24.1
motor
pydantic
pydantic_core
pymongo
python-dotenv
python-multipart
python-socketio
starlette
typing-extensions
uvicorn
websockets
