annotated-types
anyio
Authlib
certifi
fastapi
Flask
Flask-Cors
Flask-SocketIO
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
gunicorn
httpx
motor==3.3.2
pydantic
pydantic_core
PyJWT
pymongo==4.6.1
python-dotenv
python-multipart
python-socketio
starlette
typing-extensions
uvicorn
websockets
selenium
google-genai