annotated-types
anyio
Authlib
bidict
blake3
blinker
cachetools
certifi
cffi
charset-normalizer
click
contourpy
cryptography
cycler
dnspython
fastapi==0.110.2
Flask==3.0.2
Flask-Cors
Flask-SocketIO
fonttools
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-genai==1.9.0
googleapis-common-protos
gunicorn
h11
httpcore
httplib2
httpx>=0.28.1
idna
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
motor
numpy
oauthlib
packaging
Pillow
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pymongo
pyparsing
python-dateutil
python-dotenv
python-engineio
python-multipart
python-socketio
requests
requests-oauthlib
rsa
scapy
simple-websocket
six
sniffio
starlette
typing-inspection
typing_extensions
uritemplate
urllib3
uvicorn==0.27.1
websockets
Werkzeug
wsproto
